* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
}

main {
  background-color: #fff;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  width: 800px;
}

section {
  padding: 35px;
}

.row {
  display: flex;

  section {
    flex: 1;
  }
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 2.2rem;
  margin-bottom: 0.7em;
}

.join {
  p {
    opacity: 0.7;
    line-height: 1.6;
  }
}

section.price {
  background-color: hsl(179, 62%, 43%);
  color: #fff;

  .faded {
    color: hsl(179, 43%, 75%);
    display: flex;
	  align-items: center;
  }

  span {
    color: #fff;
    font-size: 2.3rem;
    margin-right: 0.4em;
  }

  .lighter {
    opacity: 0.7;
	  margin: 7px 0;
  }

  button {
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
  }
}

section.why {
  background-color: hsl(179, 47%, 52%);
  color: #fff;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8em;
}

.lead-text {
  color: hsl(71, 73%, 54%);
}

ul {
  list-style-type: none;
  opacity: 0.7;

  li {
    line-height: 1.6;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}